<h1>Produkt hinzufügen</h1>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <p>
        <label for="articleNo">Artikelnummer</label>
        <input type="number" id="articleNo" formControlName="articleNo">
    </p>
    <p>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </p>
    <p>
        <label for="price">Preis</label>
        <input type="number" id="price" formControlName="price">
    </p>

    <p>
        <button type="submit">Hinzufügen</button>
    </p>
</form>

<a>{{responseMessage}}</a>