<div class="side-navigation-body">
  <div class="navigation-item">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Intro
    </a>
  </div>

  <div class="navigation-item">
    <a routerLink="/list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Produktliste
    </a>
  </div>

  <div class="navigation-item">
    <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Produkt hinzufügen oder überschreiben
    </a>
  </div>
</div>
