<h1>Produktliste</h1>

<p>{{showErrorMessage ? errorMessage : ""}}</p>
<p>{{showLoadingMessage ? loadingMessage : ""}}</p>
<p>{{showConnectionErrorMessage ? connectionErrorMessage : ""}}</p>
<ul>
    <li *ngFor="let product of productList">
        <h5>{{product.name}}</h5>
        <ul>
            <li>Artikelnummer: {{product.articleNo}}</li>
            <li>Preis: {{product.price}} €</li>
            <button type="button" (click)="onDelete(product)">Entfernen</button>
        </ul>
    </li>
</ul>